[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = { extras = ["standard"], version = "*" }
sqlalchemy = "==2.0.0b4"
alembic = "==1.8.1"
psycopg2 = "==2.9.5"
python-jose = { extras = ["cryptography"], version = "==3.3.0" }
passlib = { extras = ["bcrypt"], version = "==1.7.4" }
python-multipart = "==0.0.5"
pymssql = "==2.2.7"
opencv-python = "*"
pyzbar = "*"
matplotlib = "*"
aiobotocore = "*"

[dev-packages]

[requires]
python_version = "3.10"
